body {
    font-family: 'Inter', sans-serif;
    background-color: #D8F2FF;
    margin: 0;
    padding: 0;
  }
  
  
  
  .employee-logout {
    background-color: #00AAFF;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -2px rgba(0, 0, 0, 0.1); 
  }
  
  .employee-btn:hover {
    background-color: #0099DD;
  }

 
@media (max-width: 768px) {
    .claim-box {
        width: calc(100% - 20px); /* Full width for smaller screens */
    }
}

  