body {
    font-family: 'Inter', sans-serif;
    background-color: #D8F2FF;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #094361;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -2px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: white;
  }
  
  .navbar > div > a:not(:last-child) {
    margin-right: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    transition: background-color 0.3s ease; 
    border-radius: 5px; 
  }
  
  .navbar a:hover {
    background-color: #073C4F; 
  }
  
  .employee-logout {
    background-color: #00AAFF;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -2px rgba(0, 0, 0, 0.1); 
  }
  
  .employee-btn:hover {
    background-color: #0099DD;
  }

  

.view-receipt {
    background-color: #00AAFF;
    color: white;
}

.view-receipt:hover {
    background-color: #0099DD;
}

.accept-reject {
    background-color: #4CAF50;
    color: white;
}

.accept-reject:hover {
    background-color: #43A047;
}

@media (max-width: 768px) {
    .claim-box {
        width: calc(100% - 20px); /* Full width for smaller screens */
    }
}

  